<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>О компании</h2>

			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nihil quidem error quibusdam assumenda necessitatibus nemo veritatis dignissimos nulla dolorem sint ad similique adipisci aliquam, quasi molestias cum, soluta nesciunt!</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellat asperiores natus unde quos consequuntur aliquid temporibus doloremque nihil nulla quidem, expedita hic nobis ipsam quia fugiat. Sunt, maxime, fugit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex vero dolorem perferendis, eligendi voluptates, iusto laboriosam? Nisi rerum eligendi dicta, voluptatibus, quia suscipit fugit blanditiis vel fuga quis veniam?<p>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex vero dolorem perferendis, eligendi voluptates, iusto laboriosam? Nisi rerum eligendi dicta, voluptatibus, quia suscipit fugit blanditiis vel fuga quis veniam?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime repellat asperiores natus unde quos consequuntur aliquid temporibus doloremque nihil nulla quidem, expedita hic nobis ipsam quia fugiat. Sunt, maxime, fugit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ex vero dolorem perferendis, eligendi voluptates, iusto laboriosam? Nisi rerum eligendi dicta, voluptatibus, quia suscipit fugit blanditiis vel fuga quis veniam?</p>
		</div>
	</div>
</div>
